.header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white,
}

.headerContainer {
     width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList {
   
    display: flex;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
}